---
import { Image } from 'astro:assets';

import ContactComponent from '../ContactComponent/index.tsx';
interface Props {
  questionText: string;
  welcomeText: string;
  phone: string;
  mail: string;
}

const { questionText, welcomeText, phone, mail} = Astro.props;

---
<div class={"contact_section"}>
	<div class={"contact_form_conatiner"}>
    <ContactComponent client:load/>
  </div>
  <div class={"rightcontainer"}>
    <p>{questionText}</p>
    <p>{welcomeText}</p>
    <div class={"contactdetails"}>
      <p class={"name"}>Mehr Details</p>
      <a href={`tel:${phone.replace(/ /g, "")}`} class={"phone"}>
        <Image
          src={"/phone_icon.svg"}
          alt="phone"
          width={30}
          height={30}
          class={"lowicon"}
        />
        {phone}
      </a>
      <a href={`mailto:${mail}`} class={"mail"}>
        <Image
          src={"/mail_icon.svg"}
          alt="mail"
          width={30}
          height={30}
          class={"lowicon"}
        />
        {mail}
      </a>
    </div>
  </div>
</div>
<style>
.contact_section {
	 position: relative;
	 margin: 4rem 0 0 0;
	 padding: 0 10rem;
	 display: flex;
	 background-repeat: no-repeat;
	 background-position: end;
	 background-size: cover;
	 font-family: var(--font-plusjakarta-sans);
	 background-color: #0697db;
	 scroll-margin-top: 180px;
}
 @media screen and (max-width: 1680px) {
	 .contact_section {
		 padding: 0 8rem;
	}
}
 @media screen and (max-width: 1445px) {
	 .contact_section {
		 padding: 0 6rem;
	}
}
 @media screen and (max-width: 1368px) {
	 .contact_section {
		 padding: 0 5rem;
	}
}
 @media screen and (max-width: 1280px) {
	 .contact_section {
		 padding: 0 3rem;
		 margin: 2rem 0 0 0;
	}
}
 @media screen and (max-width: 790px) {
	 .contact_section {
		 padding: 0 2rem;
		 flex-direction: column-reverse;
	}
}
 @media screen and (max-width: 550px) {
	 .contact_section {
		 padding: 0 1rem;
	}
}
 .contact_section .contact_form_conatiner {
	 position: relative;
	 border-radius: 8px;
	 width: 60%;
	 background-color: #fff;
	 padding: 1rem;
	 box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.08);
	 bottom: 3rem;
}
 @media screen and (max-width: 520px) {
	 .contact_section .contact_form_conatiner {
		 width: 100%;
	}
}
 .contact_section .contact_form_conatiner .header {
	 font-size: 24px;
	 font-weight: 800;
	 line-height: 40px;
}
 @media screen and (max-width: 650px) {
	 .contact_section .contact_form_conatiner .header {
		 font-size: 20px;
		 line-height: 25px;
	}
}
 @media screen and (max-width: 520px) {
	 .contact_section .contact_form_conatiner .header {
		 font-size: 16px;
		 line-height: 22px;
	}
}
 .contact_section .contact_form_conatiner .body_text {
	 font-family: var(--font-dmsans);
	 font-size: 16px;
	 font-weight: 400;
	 line-height: 22px;
	 color: #383838;
	 padding: 15px 0 35px 0;
}
 @media screen and (max-width: 1445px) {
	 .contact_section .contact_form_conatiner .body_text {
		 font-size: 14px;
		 line-height: 21px;
		 padding: 8px 0 20px 0;
	}
}
 @media screen and (max-width: 870px) {
	 .contact_section .contact_form_conatiner .body_text {
		 font-size: 12px;
		 line-height: 15px;
		 padding: 8px 0 8px 0;
	}
}
 @media screen and (max-width: 520px) {
	 .contact_section .contact_form_conatiner .body_text {
		 font-size: 10px;
		 line-height: 11px;
	}
}
 .contact_section .contact_form_conatiner .submit_btn {
	 background-color: #007057;
	 font-family: var(--font-dmsans);
	 font-size: 18px;
	 font-weight: 700;
	 line-height: 15px;
	 color: #fff;
	 border-radius: 10px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 60px;
	 margin: 10px 0;
	 cursor: pointer;
}
 .contact_section .contact_form_conatiner .submit_btn:hover {
	 background-color: #0b2d23;
}
 @media screen and (max-width: 1445px) {
	 .contact_section .contact_form_conatiner .submit_btn {
		 height: 52px;
	}
}
 @media screen and (max-width: 795px) {
	 .contact_section .contact_form_conatiner .submit_btn {
		 height: 40px;
	}
}
 @media screen and (max-width: 520px) {
	 .contact_section .contact_form_conatiner .submit_btn {
		 height: 36px;
	}
}
 .contact_section .contact_image {
	 position: absolute;
	 width: 700px;
	 height: auto;
	 bottom: 1rem;
	 right: 0;
}
 @media screen and (max-width: 1445px) {
	 .contact_section .contact_image {
		 width: 600px;
		 right: 0rem;
	}
}
 @media screen and (max-width: 1180px) {
	 .contact_section .contact_image {
		 width: 330px;
		 right: 7rem;
	}
}
 @media screen and (max-width: 1028px) {
	 .contact_section .contact_image {
		 right: 1rem;
	}
}
 @media screen and (max-width: 790px) {
	 .contact_section .contact_image {
		 width: 240px;
	}
}
 @media screen and (max-width: 650px) {
	 .contact_section .contact_image {
		 width: 200px;
	}
}
 @media screen and (max-width: 520px) {
	 .contact_section .contact_image {
		 width: 150px;
		 right: 0;
	}
}
 @media screen and (max-width: 450px) {
	 .contact_section .contact_image {
		 width: 120px;
	}
}
 .rightcontainer {
	 padding: 3rem;
	 width: 40%;
}
 @media screen and (max-width: 650px) {
	 .rightcontainer {
		 width: 100%;
		 padding: 40px 20px;
	}
}
 .rightcontainer p {
	 font-size: 33px;
	 color: #ffffff;
	 font-family: var(--font-clash-display);
	 font-weight: 600;
}
 @media screen and (max-width: 650px) {
	 .rightcontainer p {
		 font-size: 25px;
	}
}
 .lowicon {
	 font-size: 20px;
	 color: white;
	 margin-right: 10px;
}
 .name {
	 font-size: 30px;
	 font-family: var(--font-dm-Sans);
	 padding-bottom: 20px;
}
 .phone, .mail {
	 font-size: 18px;
	 font-weight: 400;
	 font-family: var(--font-dm-Sans);
	 display: flex;
	 align-items: center;
	 color: #fff;
}
 .contactdetails {
	 margin-top: 5rem;
}
 @media screen and (max-width: 650px) {
	 .contactdetails {
		 margin: 30px 0 40px 0;
	}
}
</style>