---
import path from "node:path";
import "../styles/main.scss";
import site from "../../data/site.json";
import Header from "../components/navigation/header.astro";
import Footer from "../components/navigation/footer.astro";
import { SEO } from "astro-seo";

export interface SEOProps {
  description: string;
  title: string;
  openGraph: {
    title: string;
    description: string;
    url: string;
    type: string;
    images: {
      url: string;
    };
  };
  canonical: string;
  metadatabase: string;
  keywords: [string];
}

export interface Props {
  title: string;
  content_blocks?: any;
  seo?: SEOProps;
}

const { seo, title } = Astro.props;
const baseUrl = Astro.site?.toString() ?? "";

// Find the title either at the top level of frontmatter, or nested in post_hero for a blog post
// If no title defined in the page's props fallback to the site-wide title set in the data file
// If it's the homepage only display the page title
// Otherwise display the page title followed by the site title
let pageTitle = "";
if (!title) {
  pageTitle = site.site_title;
} else {
  if (Astro.url.pathname === "/") {
    pageTitle = title;
  } else {
    pageTitle = `${title} | ${site.site_title}`;
  }
}

const canonicalURL = new URL(seo?.canonical ?? Astro.url.pathname, baseUrl);
const headerStyleOverrides = {};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <!-- Favicon -->
    <!-- Replace this with your own. You can use a 'favicon generator' to ensure you have all the parts you need -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/meta/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/meta/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/meta/favicon-16x16.png"
    />
    <meta name="generator" content={Astro.generator} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- CloudCannon CMS editor styles -->
    <link rel="stylesheet" href="/css/editor.css" />

    <SEO
      title={seo?.title}
      description={seo?.description}
      canonical={canonicalURL.toString()}
      openGraph={{
        basic: {
          title: seo?.openGraph.title || "",
          url: seo?.openGraph.url,
          type: "website",
          image: seo?.openGraph.images.url || ""
        },
        optional: {
          description: seo?.openGraph.description,
        },
      }}
      extend={{
        meta: [{
          name: 'base',
          content: seo?.metadatabase
        }, {
          name: 'keywords',
          content: seo?.keywords.join(', ')
        }]
      }}
    />
  </head>
  <body>
    <Header headerStyleOverrides={{}} />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      .layout-container {
        padding-top: 88px;
      }
      :root {
        /* Max width and inline padding of the page */
        --pageContainer: 1280px;
        --pagePadding: 32px;
        /* The padding used between page sections (components) */
        --sectionPadding: 6rem;
        --sectionPaddingMobile: 3rem;
        /* Set here rather than hardcoded to work out the styles for hero components overlapping header */
        /* When increasing header padding, make sure to increase headerHeight to make room */
        /* Logo size is calculated by subtracting headerPadding * 2 from the headerHeight */
        --headerHeight: 4rem;
        --headerPadding: 1rem;

        box-sizing: border-box;
      }
    </style>
  </body>
</html>
