---
import Wrapper from "../components/Common/Wrapper.astro";
import PreiseComponent from "../components/PreiseComponent/index.jsx";

import PageHelper from "../shared/astro/page.astro";
import PreisePage from "../shared/astro/preise.astro";
import ImpressumPage from "../shared/astro/impressum.astro";
import DatenSchutzPage from "../shared/astro/datenschutz.astro";

import FloatBtn from "../components/Common/Floaterbtn/index.jsx";
// import HeroBlock from "src/shared/astro/hero-block.astro";
import Layout, { type SEOProps } from "./Layout.astro";

type Props = {
  frontmatter: {
    title: string;
    content_blocks: any[];
    // hero_block: any;
    seo?: SEOProps;
  };
};

const props = Astro.props.frontmatter;
---

<Layout {...props}>
  <!-- <HeroBlock bookshop:live heroBlock={props.hero_block} /> -->
  {
    props.title == "Home Page" && (
      <div class="all_page">
        <PageHelper bookshop:live contentBlocks={props.content_blocks} />
        <FloatBtn />
      </div>
    )
  }
  {
    props.title == "Preise Page" && (
      <div class={"all_page"}>
        <Wrapper>
          <PreisePage bookshop:live contentBlocks={props.content_blocks} />
          <PreiseComponent client:visible />
        </Wrapper>
      </div>
    )
  }
  {
    props.title == "ueber-uns" && (
      <div class={"all_page"}>
        <PageHelper bookshop:live contentBlocks={props.content_blocks} />
      </div>
    )
  }
  {
    props.title == "Taxi Bpt" && (
      <div class={"all_page"}>
        <PageHelper bookshop:live contentBlocks={props.content_blocks} />
      </div>
    )
  }
  {
    props.title == "Kontrolfahrt" && (
      <div class={"all_page"}>
        <PageHelper bookshop:live contentBlocks={props.content_blocks} />
      </div>
    )
  }
  {
    props.title == "Contact Form" && (
      <PageHelper bookshop:live contentBlocks={props.content_blocks} />
    )
  }
  {
    props.title == "Impressum Page" && (
      <div class={"privacycontainer-i"}>
        <br />
        <PageHelper bookshop:live contentBlocks={props.content_blocks} />
        <div>
          <p class="privacyparagraph">Quelle: SwissAnwalt</p>
        </div>
      </div>
    )
  }
  {
    props.title == "Datenschutz Page" && (
      <DatenSchutzPage bookshop:live contentBlocks={props.content_blocks} />
    )
  }
</Layout>
<style is:global>
  .privacycontainer-i {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 17rem 3rem 3rem 3rem;
    /* margin-top: -100px; */
    color: #3d3d3d;
  }
  .privacycontainer-i div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  @media screen and (max-width: 1024px) {
    .privacycontainer-i {
      margin: 4rem 0 1rem 0;
      padding: 0 0.8rem;
    }
  }
  .privacytitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  .privacyparagraph {
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 1.8rem;
  }
  @media screen and (max-width: 1024px) {
    .privacyparagraph {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
</style>
