---
import Layout, { type SEOProps } from "./Layout.astro";
import Contact from '../components/SeoPage/Contact/Contact.astro';
import TaxiBanner from '../components/SeoPage/TaxiBanner/TaxiBanner.astro';
import TaxiGrid from '../components/SeoPage/TaxiGrid/TaxiGrid.astro';
import { getCollection, type CollectionEntry, getEntry } from "astro:content";
type Props = {
  frontmatter: {
    title: string;
    seo?: SEOProps;
    seo_blocks: object;
    contact_block: object;
  };
};

const props = Astro.props.frontmatter;
// const contact_page = await getEntry('pages', 'contact');
// const contact_data = contact_page.data.content_blocks;
const { data, sections, category } = props.seo_blocks;
const { contact_block } = props;
---

<Layout {...props}>
  <div class={"all_page"}>
    <TaxiBanner data={data} h1={category} />
    <br />
    <br />
    {sections.map((obj, ind) => (
      <TaxiGrid
        key={ind}
        hideimg={true}
        title={obj.title}
        text={obj.text}
      />
    ))}
    <br />
    <br />
    <br />
    <Contact {...contact_block} />
  </div>
</Layout>
<style>
.all_page {
  padding: 100px 0 0 0;
}
</style>

<style is:global>
h1 {
    display: block;
    font-size: 40px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.taxibanner {
  display: flex;
  justify-content: space-between;
  padding: 0 0 2rem 8rem;
  align-items: center;
  font-family: var(--font-clash-display);
  font-size: 43px;
  font-weight: 600;
  line-height: 45.76px;
  letter-spacing: 0.01em;
}

.taxibanner * {
  font-family: var(--font-clash-display);
}
</style>